.research-areas-section {
    .sub-title {
        letter-spacing: 1px;
    }

    h5 {
        font-weight: 600;
        color: var(--primary-dark);
    }

    div {

        ul,
        ol {
            li {
                p {
                    margin: 5px 0;
                }
            }
        }

        .message {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.3rem;
            border: 1px solid var(--secondary-100);
            overflow: hidden;
            border-radius: 1rem;

            .profile-image {
                width: 100%;
                max-width: 35vh;
                height: 100%;
                overflow: hidden;
                text-align: center;

                img {
                    width: 100%;
                    max-width: 50vh;
                    height: 100%;
                    max-height: 50vh;
                    object-fit: cover;
                    margin: 0;
                }
            }

            .msg-content {
                width: 100%;
                padding: 2rem;

                p {
                    text-align: justify;

                    &.member-name {
                        text-align: end;
                        color: var(--primary-color);
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .research-areas-section {
        h1 {
            margin-bottom: 10px;
        }

        img {
            margin: 10px 0;
            max-width: calc(100% - 50px);
        }

        p {
            font-size: 22px;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }

        table {

            td,
            th {
                font-size: 22px;
            }
        }

        .row {
            margin-top: 30px !important;
        }

        .message {
            .msg-content {
                padding: 1.5rem;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .research-areas-section {
        .message {
            .msg-content {
                padding: 1.5rem !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .research-areas-section {
        h1 {
            margin-bottom: 10px;
        }

        img {
            margin: 10px 0;
            max-width: calc(100% - 50px);
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }

        .message {
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 0 0;

            .msg-content {
                padding: 1rem 2rem !important;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .research-areas-section {
        h1 {
            margin-bottom: 10px;
        }

        img {
            margin: 10px 0;
            max-width: calc(100% - 50px);
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }

        .message {
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 0 0;

            .msg-content {
                padding: 1rem 2rem !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .research-areas-section {
        h1 {
            margin-bottom: 10px;
        }

        img {
            margin: 10px 0;
            max-width: calc(100% - 50px);
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }

        .message {
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 0 0;

            .msg-content {
                padding: 1rem 1rem !important;
            }
        }
    }
}